img {
    width:25%;
}
body{
     background: rgb(0,255,235);
    background: linear-gradient(to top,blue, yellow );
    height:1111px;
    font-family: "Srisakdi";
    font-size:35px;
    
    text-align:center;
    
}
button{
    color:pink;
    background:green;
    border:green;
}