img {
    width:25%;
}
body{
     
   
    height:1111px;
    font-family: "Srisakdi";
    font-size:35px;
    
    text-align:center;
    
}
button{
    color:pink;
    background:green;
    border:green;
}